snippet import-default
import ${2} from '${1}';

snippet import
import { ${2}, } from '${1}';

snippet export-default
export default ${1}

snippet export
export {${1},}

snippet ReactFC
import React from 'react';

const ${1}= (${2}) => {
	return (
		${3}
  )
}
